# Slope in Action

In [38]:
import pandas_datareader.data as pdr
import pandas as pd
import numpy as np
import datetime
import statsmodels.api as sm

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler

In [4]:
# Load data
end_date = datetime.date.today()
start_date = end_date - datetime.timedelta(3650)
data = pdr.get_data_yahoo('MSFT', start_date, end_date)

In [52]:
def get_slopes(data, n=5, degree=False):
    """Function to compute the slope of every points."""
    var = data['Adj Close']
    slopes = [0 for i in range(n-1)]
    for i in range(n, len(var)+1):
        y = var[i-n:i]
        X = np.array(range(n))
        y_scaled = (y - y.min())/(y.max() - y.min())
        X_scaled = (X - X.min())/(X.max() - X.min())
        X_scaled = sm.add_constant(X_scaled)
        ols = LinearRegression()
        ols.fit(X_scaled, y_scaled)
        slopes.append(ols.coef_[-1])
    if degree:
        slopes = (np.rad2deg(np.arctan(np.array(slopes))))
    return slopes

In [53]:
slopes = get_slopes(data, degree=True)

In [55]:
slopes

array([  0.        ,   0.        ,   0.        , ...,   6.50138682,
       -36.91504674,  22.8028677 ])

In [57]:
data.loc[:, ['Adj Close'] ]

             Adj Close
Date
2010-04-09   23.926912
2010-04-12   23.911137
2010-04-13   24.013655
2010-04-14   24.305452
2010-04-15   24.344883
...                ...
2020-03-31  157.710007
2020-04-01  152.110001
2020-04-02  155.259995
2020-04-03  153.830002
2020-04-06  162.100006

[2516 rows x 1 columns]