# Oanda API connection

In [2]:
import oandapyV20
import oandapyV20.endpoints.instruments as instruments
import oandapyV20.endpoints.pricing as pricing
import oandapyV20.endpoints.accounts as accounts
import oandapyV20.endpoints.orders as orders
import oandapyV20.endpoints.trades as trades

import pandas as pd

In [9]:
account_id = "101-002-14216533-001"
token_path = "oanda_key.txt"
client = oandapyV20.API(access_token=open(token_path, 'r').read(), environment='practice')

In [40]:
params = {'count':5000, 'granularity': "M5"}
candles = instruments.InstrumentsCandles(instrument='USD_JPY', params=params)
client.request(candles)
print(candles.response['instrument'])

USD_JPY

In [41]:
ohlc = pd.DataFrame(candles.response['candles'])
ohlc_df = ohlc.mid.dropna().apply(pd.Series)
ohlc_df['volume'] = ohlc['volume']
ohlc_df.set_index(ohlc['time'], inplace=True)
ohlc_df = ohlc_df.apply(pd.to_numeric)

In [42]:
ohlc_df.shape

(5000, 5)

In [43]:
ohlc_df

                                      o        h        l        c  volume
time
2020-04-01T09:35:00.000000000Z  107.554  107.593  107.508  107.593     373
2020-04-01T09:40:00.000000000Z  107.591  107.648  107.582  107.632     513
2020-04-01T09:45:00.000000000Z  107.630  107.666  107.610  107.656     300
2020-04-01T09:50:00.000000000Z  107.658  107.664  107.585  107.620     358
2020-04-01T09:55:00.000000000Z  107.618  107.624  107.582  107.606     353
...                                 ...      ...      ...      ...     ...
2020-04-24T20:35:00.000000000Z  107.440  107.461  107.426  107.456      67
2020-04-24T20:40:00.000000000Z  107.454  107.484  107.454  107.482     123
2020-04-24T20:45:00.000000000Z  107.481  107.483  107.460  107.477     108
2020-04-24T20:50:00.000000000Z  107.474  107.494  107.468  107.491     123
2020-04-24T20:55:00.000000000Z  107.494  107.524  107.468  107.504     144

[5000 rows x 5 columns]